@import (reference) "~less/Calculation.less";


.home{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #fff;
  .addBoxShadow {
    box-shadow: 0 .02rem .12rem 0 rgba(104, 99, 251, .3);
    border-radius: .1rem 
  }
  .homeMain{
    .width(750);
    margin: 0 auto;
    .main{
        padding: .257rem 0;
        margin: 0 auto;
        .width(710);
        .avatar{
            .fontSize(46);
            .width(300);
            .height(150);
            color: #010101;
            overflow: hidden;
            display: flex;
            align-items: center;
            .avatarImg{
                .width(150);
                .height(150);
                .marginRight(32);
                border-radius: 50%;
            }
        }
        .balance{
            .marginTop(30);
            .width(710);
            .height(240);
            border-radius: .12rem; 
            background-image:url('../../utils/img/balancebg.png');
            z-index: -1;
            display: flex;
            align-items: center;
            .balance-main{
                .width(678);
                .height(135);
                .marginLeft(35);
                display: flex;
                color: #fff;
                align-items: center;
                justify-content: space-between;
                .balance-left{
                    .balance-num{
                        .fontSize(60);
                        .marginBottom(30)
                    }
                    .balance-text{
                        display: flex;
                        align-items: center;
                        .fontSize(30);
                        .recharge{
                            .width(160);
                            .height(45);
                            line-height: .384rem;
                            .marginLeft(15);
                            background-color: #fff;
                            color: #6975FD;
                            text-align: center;
                            border-radius:1.17rem;
                            position: relative;
                            .specialOffer{
                                position: absolute;
                               .width(84);
                               .height(31);
                               top:-0.128rem;
                               right:-0.597rem
                            }
                        }
                    }
                }
                .balance-right{
                    .width(165);
                    .height(60);
                    background-color: #FF87A3;
                    border-top-left-radius: 1.17rem;
                    border-bottom-left-radius: 1.17rem;
                    display: flex;
                    align-items: center;
                    .fontSize(30);
                    .detail{
                        margin: 0 .05rem 0rem .3rem;
                        .width(42);
                        .height(43);
                    }
                }
            }
        }
        .shopOrder{
            .marginTop(54);
            .fontSize(36);
            .shopOrder-title{
                font-weight:bold;
            }
            .shopOrder-features{
                .height(182);
                .marginTop(45);
                .fontSize(28);
                display: flex;
                align-items: center;
                justify-content: space-around;
                .wait-address{
                    position: relative;
                    .bubble{
                        .fontSize(26);
                        position: absolute;
                        .width(32);
                        .height(32);
                        border-radius: 50%;
                        background: #FF5360;
                        line-height: .273rem;
                        text-align: center;
                        color: #fff;
                        left:.597rem;
                        .top(-10)
                    }
                }
                .wait{
                    position: relative;
                    .bubble{
                        .fontSize(26);
                        position: absolute;
                        .width(32);
                        .height(32);
                        border-radius: 50%;
                        background: #FF5360;
                        line-height: .273rem;
                        text-align: center;
                        color: #fff;
                        left:.5rem;
                        top: -0.085rem;
                    }
                }
                img{
                    .width(70);
                    .height(70);
                    .marginBottom(10);
                    .marginLeft(5)
                }
               
                .wait-address-img{
                    .marginLeft(20)
                }
            }
        }
        
        .otherService{
            .marginTop(54);
            .fontSize(36);
            .otherService-title{
                font-weight:bold;
            }
            .otherService-main{
                .height(182);
                .marginTop(45); 
                .otherService-features{
                    margin:0 .239rem;
                    .marginTop(45);
                    .fontSize(30);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .otherService-left{
                        .marginTop(45);
                        .left-title{
                            .fontSize(30);
                        }
                        .left-content{
                            .rebate-title{
                                .marginRight(20)
                            }
                            .fontSize(24);
                            .marginTop(20);
                            color: #ABABAB;
                            img{
                                .marginRight(10);
                                .width(22);
                                .height(26); 
                                vertical-align:text-bottom
                            }
                            .rebate-img{
                                .width(27);
                                .height(28); 
                            }
                            .transfer-img{
                                .width(28);
                                .height(28);
                            }
                        }
                        
                    }
                    .otherService-right{
                        .marginTop(45);
                        .width(150);
                        .height(50);
                        color: #fff;
                        line-height: .426rem;
                        text-align: center;
                        border-radius: 1.17rem;
                        background: linear-gradient(to right,#7983FF,#71CEFF)
                    }
                    .transfer{
                        background: linear-gradient(to right,#FF6479,#FF89A4)
                    }
                    .rebate{
                        .marginTop(25);
                    }
                    .rebate-right{
                        .marginTop(25);
                        .width(150);
                        .height(50);
                        color: #fff;
                        line-height: .426rem;
                        text-align: center;
                        border-radius: 1.17rem;
                        background: linear-gradient(to right,#FE6F6A,#FDAA95)
                    }
                    
                }
            }
            .rebate-main{
                .height(182);
                .marginTop(45); 
            }
            
        }
        
    }
  }
  
}