@import (reference) "~less/Calculation.less";

.shipAddress{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #fff;
 
  .ship-main{
    .width(750);
    margin: 0 auto;
    .main{
        margin: 0 auto;
        .width(710);
        .send{
            display: flex;
            align-items: center;
            .height(150);
            border-bottom:1px solid #EFEFEF; 
            .sendIcon{
                width:.512rem;
                height:.512rem;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                line-height: .512rem;
                background-color: #19D2C5;
                .fontSize(30);
                .marginRight(30)
            }
            .send-info{
                color: black;
                .fontSize(28);
                .send-name{
                    .paddingBottom(5) 
                }
                .send-address{
                    .paddingTop(5)
                }
            }
        }

        .receive{
            .receive-main{
                display: flex;
                align-items: center;
                .marginTop(35);
                .marginBottom(30);
                .receiveIcon{
                    width:.512rem;
                    height:.512rem;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    line-height: .512rem;
                    background-color: #FF667B;
                    .fontSize(30);
                    .marginRight(30)
                }
                .receive-title{
                    .fontSize(34);
                    font-weight: bold;
                    .marginRight(284);
                    .marginTop(8);
                }
                .receive-address{
                    .fontSize(30);
                    color: #8F9FFF;
                    .marginTop(18);
                    display: flex;
                    .height(30);
                    align-items: center;
                    img{
                        .width(28);
                        .height(26);
                        .marginRight(8);
                        vertical-align: bottom;
                    }
                }
            }  
            .information{
                .fontSize(28);
                .star{
                    color:red;
                    .marginRight(20);
                }
                .starName{
                    .fontSize(28)
                }
            }
            .area{
                display:flex;
                .marginLeft(30);
                .marginTop(20);
                .fontSize(28);
                color:black;
                border-bottom:1px solid #EFEFEF;
                .paddingBottom(10);
                .area-title{
                    display: flex;
                    width: 1.53rem;
                    .marginRight(18);
                    .star{
                        .fontSize(28);
                        color:red;
                        .marginRight(20)
                    }
                }
                .content-block{
                    display: inline-block;
                    margin-top:-.119rem
                }
            }
            .addressWrite{
                .height(174);
                background:#EEEEEE;
                .marginTop(30);
                .marginLeft(30);
                textarea{
                    border:none;
                    background:#EEEEEE;
                    width:90%;
                    .height(164);
                    resize:none;
                    .marginLeft(30);
                    .marginTop(10);
                    color:black
                }
            }
        }
        .shop-main{
            .marginTop(40);
            .height(150);
            .shop-order{
                .paddingBottom(40);
                .marginLeft(25);
                .marginTop(20);
                color: black;
                .fontSize(28);
                line-height: 30px;
                .shop-info{
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    .shop-title{
                        .fontSize(34);
                        font-weight:bold;
                    } 
                }
                .shop-detail{
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    .shop-name{
                        .width(510);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis
                    }
                    .shop-single{
                        .width(170);
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
                        .shop-num{
                            .fontSize(24);
                            color:#B0B0B0
                        }
                    }
                }
                  
                .shop-show{
                    .fontSize(24);
                    color: #8F9FFF;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: baseline;
                    border-bottom:1px solid #F5F5F5;
                    img{
                        .width(24);
                        .height(22);
                        .marginLeft(5)
                    }
                }   
                .shop-column{
                    display: flex;
                    justify-content: space-between;
                    .actually-pay{
                        color:#FF3B3B
                    }
                }
                .pay{
                    .width(370);
                    .height(70);
                    text-align: center;
                    line-height: .597rem;
                    .fontSize(36);
                    color: #fff;
                    background: linear-gradient(to right,#7983FF,#70CEFF);
                    border-radius: .3rem;
                    margin:.597rem auto;
                }
            }
        }
    }
    
  }

  //弹框
  .addTips{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 5;
        background-color: #000;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

      .bullet-main{
        
        .fontSize(30);
        color: #000;
        position: fixed;
        border-radius: .1rem;
        .width(600);
        .height(626);
        background: #fff;
        z-index: 10;
        .bullet-content{
            margin: 0 .341rem;
            .pay-cancel{
                .marginTop(20);
                display: flex;
                flex-direction:row-reverse;
                img{
                    .width(30);
                    .height(30)
                }
            }
            .content-title{
                .fontSize(34);
                .marginTop(50);
            }
            .aliPay{
                color:black;
                .marginTop(40);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .aliPay-left{
                    display: flex;
                    .width(250);
                    .height(50);
                    align-items: center; 
                    img{
                        .width(42);
                        .height(42);
                        .marginRight(35)
                    }  
                }
                .pay-selected{
                    .width(42);
                    .height(42);
                    border-radius:50% ;
                    border: .0085rem solid #EDEDED; 
                    
                }
                img{
                    .width(42);
                    .height(42);
                }
            }

            .pay-btn{
                .width(375);
                .height(80);
                text-align: center;
                line-height: .682rem;
                .fontSize(36);
                color: #fff;
                background: linear-gradient(to right,#7983FF,#70CEFF);
                border-radius: .3rem;
                margin: .597rem auto;
            }
        }
        
    }
  }
  

  

  .ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";

    height: 32px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
}
    
}
.ant-cascader-menu-item-expand{
    padding-right: 0 !important;
    text-align: center !important;
}
.ant-cascader-menu-item{
    padding: 0 !important;
    width:2.13rem !important;
    overflow:hidden !important;
    white-space:nowrap !important;
    text-overflow:ellipsis !important;
    text-align: center !important;
}
.ant-cascader-menus{
    margin: 0 auto !important;
    position: fixed !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;
    top: auto !important;
    height: 3.6rem !important;
}
.ant-cascader-picker-label{
    padding: 0 !important;
}
.ant-cascader-input {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0;
    width: 3.33rem;
        &::placeholder{
        color: #989898;
        }
}
.ant-cascader-input.ant-input{
    position: static;
    width: 100%;
    padding-right: 100px !important;
    background-color: transparent !important;
    cursor: pointer;
}
.ant-cascader-input {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 !important;
    width: 3.33rem;

    &::placeholder{
      color: #989898;
    }
}
.ant-input{
    display: inline-block;
    transition: all 0.3s;
    border: none !important;
}

.ant-cascader-picker {
    color: black !important;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: 'tnum', "tnum";
    cursor: pointer;
}

.am-list-body:before{
    content: '';
    position: absolute;
    background-color: #FFF !important;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 50%;
    transform: scaleY(0.5);
}

